.login{
    width: 500px;
    height: 300px;
    background-color: #f2f2f2;
    /* border: 1px solid black; */
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.login:hover{
    box-shadow: 0 0 10px 5px #9faf9f;
}
.form{
    margin: 20px auto;
    width: 400px;
    /* border: 1px solid black; */
}
h1{
    color: #575a57;
    margin-bottom: 20px;
    font-size: max(2.5vw, 17px);
}
input{
    width: 60%;   
    height: 18px;   
    margin: 10px auto 20px;
    outline: none;   
    padding: 10px;   
    font-size: 13px;   
    color: #fff;   
    text-shadow:1px 1px 1px;   
    border-top: 1px solid #312E3D;   
    border-left: 1px solid #312E3D;   
    border-right: 1px solid #312E3D;   
    border-bottom: 1px solid #56536A;   
    border-radius: 4px;   
    background-color: #2D2D3F;
    display: block;   
   }   
.btn{
    width: 30%;
    height: 40px;
    background-color: #9faf9f;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-size: max(15px,1vw);
}
.btn:hover{
    background-color: #7f8f7f;
}